@model IEnumerable<ABSRankings.Models.Zone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zones</h2>

<table class="display" data-order='[[ 0, "asc" ]]' data-page-length='15'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WCLZoneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WCLFrozen)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WCLZoneId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WCLFrozen)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WCLZoneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WCLFrozen)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
